@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary:#D10001;
}
.splide__arrow{
    background: transparent !important;
    width: 1em !important;
    height: 1em !important;
}   
.overlay{
    width: 100%;
    position: fixed;
    height: 100vh;
    background-color: #000;
    opacity: 30%;
}
.carous{
    background-image: url('https://d3uscstcbhvk7k.cloudfront.net/static/images/hero_homepage_4x.jpg');
    width: 100%;
    height: 400px;
}
.popular_active{
    color:var(--primary);
}